<div class="w-full bg-black text-white px-2" routerLink="/home">back</div>
<div class="header">
    ABOUT ME
</div>
<div class="flex items-center flex-col">
    <img class="profile-img" src="/assets/profile-img.png">
    <div class="font-bold text-2xl">Tobias van de Ven</div>
</div>

<div class="flex flex-col">
    <div class="section">Hey there! 👋 I'm Tobias, an 18-year-old full-stack developer from The Netherlands 🇳🇱. I'm currently studying at ROC-Tilburg 🏢 to further enhance my skills and expertise in software development 👨‍💻. When I am not behind the computer, I am behind the wheel of my car. </div>
    <div class="section-img-right">
        <div class="block">
        </div>  
        <img src="https://cdn.discordapp.com/attachments/698558773010104340/1169603285662048346/image.png?ex=655600f1&is=65438bf1&hm=3f14c8cfd865404f4a70725491da30fa8e1271fb4de3eb6f1ff420ed49cbe2c3&" alt="">
    </div>
</div>
