<div class="w-full bg-black text-white text-xl px-2" routerLink="/home">BACK</div>
<div class="header">
    ABOUT ME
</div>
<div class="flex items-center flex-col">
    <img class="profile-img" src="/assets/profile-img.png">
    <div class="font-bold text-2xl">Tobias van de Ven</div>
</div>

<div class="flex flex-col">

    <div class="section">
        Hey, I'm Tobias van de Ven, an 18-year-old software developer based in the Netherlands. Specializing in front-end web development, I'm constantly fueled by a thirst for knowledge, always eager to unravel new concepts and technologies.
    </div>
    <div class="section-img-right">
        <div class="block">
            <div class="polaroid-stack flex">
                <div class="polaroid p-right">
                    <img src="/assets/about-me/holliday.jpg" alt="Polaroid Image">
                    <div class="caption">My cat LEX</div>
                </div>
                <div class="polaroid p-right">
                    <img src="/assets/about-me/me-img.jpg" alt="Polaroid Image">
                    <div class="caption">me lol</div>
                </div>
                <div class="polaroid p-right">
                    <img src="/assets/about-me/skiing.jpg" alt="Polaroid Image">
                    <div class="caption">Skiing in France</div>
                </div>
            </div>
        </div>
        <div class="text-[9px] h-full px-2">← click 'n scroll</div>
    </div>

    <div class="section">
        <span class="font-bold">Some more about me:</span><br>
        Beyond coding, I find my sanctuary in two places: the gym and my garage. You'll catch me hitting the gym daily, channeling my energy and maintaining a healthy balance. But my other passion lies in my Honda Civic – I'm all about understanding its inner workings, from installing new parts to uncovering how each component fits together. It's an ongoing journey of learning and hands-on experience that I find incredibly fulfilling.
    </div>
    <div class="section-img-left flex flex-row">
        <div class="block">
            <div class="polaroid-stack" onmouseover="alignPolaroids()">
                <div class="polaroid p-left">
                    <img src="/assets/about-me/cat.jpg" alt="Polaroid Image">
                    <div class="caption">My cat LEX</div>
                </div>
                <div class="polaroid p-left">
                    <img src="/assets/about-me/honda-civic-2.jpg" alt="Polaroid Image">
                    <div class="caption">My honda civic EJ9</div>
                </div>
                <div class="polaroid p-left">
                    <img src="/assets/about-me/festival.jpg" alt="Polaroid Image">
                    <div class="caption">At DREAMSCAPE</div>
                </div>
            </div>
        </div>

        <div class="text-[9px] h-full px-2">click 'n scroll →</div>

    </div>
</div>