<div class="w-full lg:w-1/3">
    <div class="back-button" [routerLink]="['/home']">TERUG</div>
</div>

<div class="bg-black flex flex-row justify-center">
    <div class="big-title">TECHNICAL SKILLS</div>
</div>
<div class="flex flex-col lg:flex-row">
    <div class="card bg-secondary text-white">
        <div>
            <div class="card-title">Front-ender</div>
            <div class="card-text">Ik werk graag aan de voorkant van websites vaak in JavaScript frameworks zoals Angular. Een nette en strakke styling vind ik belangrijk dus ik grbruik daar Tailwind voor.</div>    
        </div>
        <div class="card-projectlist">
            <div class="card-projectlist_item">JS Dice</div>
            <div class="card-projectlist_item">Terminal Portfolio</div>
        </div>
    </div>

    <div class="card bg-primary">
        <div>
            <div class="card-title">Tech Enthusiast</div>
            <div class="card-text">Ik hou ervan om technische code te schrijven die echt iets doet. Van interactieve animaties tot slimme functies — ik vind het leuk om ideeën om te zetten in werkende oplossingen.</div>    
        </div>
        <div class="card-projectlist">
            <div class="card-projectlist_item-b">Anna Housing</div>
            <div class="card-projectlist_item-b">Projects Portfolio</div>
            <div class="card-projectlist_item-b">What are you listening to?</div>
        </div>
    </div>

    <div class="card bg-secondary text-white">
        <div>
            <div class="card-title">Creative Designer</div>
            <div class="card-text">
                Ik ben graag creatief bezig, van het ontwerpen van UI’s en wireframes tot het maken van 3D-modellen en visuele concepten. Ik combineer techniek met design om iets te maken dat opvalt.
            </div>    
        </div>
        <div class="card-projectlist">
            <div class="card-projectlist_item">Djarno's Bear</div>
            <div class="card-projectlist_item">KCPerformance Webshop UI</div>
            <div class="card-projectlist_item">Flowcharts & Wireframes</div>
        </div>
    </div>
</div>
<div class="bg-black flex flex-row justify-center mb-[60px] text-white shadow-xl">
    <div class="card-projectlist p-2">
        <div class="card-skill_item">JavaScript</div>
        <div class="card-skill_item">TypeScript</div>
        <div class="card-skill_item">Python</div>
        <div class="card-skill_item">HTML</div>
        <div class="card-skill_item">CSS</div>
        <div class="card-skill_item">Tailwind</div>
        <div class="card-skill_item">Angular</div>
        <div class="card-skill_item">Figma</div>
        <div class="card-skill_item">Adobe XD</div>
        <div class="card-skill_item">Photoshop</div>
        <div class="card-skill_item">Illustrator</div>
    </div>
</div>

<div class="bg-black flex flex-row justify-center">
    <div class="big-title">PERSONAL SKILLS</div>
</div>
<div class="flex flex-col shadow-xl">
    <div class="flex flex-col lg:flex-row">
        <div class="personalcard bg-primary">
            <div class="personalcard-title">Team Captain</div>
            <div class="personalcard-text">
                Ik neem vaak de leiding in groepsprojecten. Niet omdat ik de baas wil spelen, maar omdat ik geloof dat je samen sterker staat. Ik zorg ervoor dat iedereen zijn of haar sterke kanten kan laten zien, zodat we elkaar naar een hoger niveau tillen.
            </div>
        </div>
        <div class="personalcard bg-secondary text-white">
            <div class="personalcard-title">Out-of-the-Box Thinker</div>
            <div class="personalcard-text">
                Ik vind het leuk om dingen vanuit een ander perspectief te bekijken. Dat levert soms wat gekke ideeën op, maar vaak werken die juist verrassend goed. Ik hou gewoon van een beetje creatief denken.
            </div>
        </div> 
    </div>

    <div class="flex flex-col lg:flex-row-reverse">
        <div class="personalcard bg-primary">
            <div class="personalcard-title">Eager to Learn</div>
            <div class="personalcard-text">
                Ik ben altijd op zoek naar nieuwe dingen om te leren. Ik kies vaak voor uitdagende opdrachten, omdat ik daar het meeste van leer. Ik hou ervan om te weten hoe dingen werken en probeer dat dan zelf uit te vinden.
            </div>
        </div>
        <div class="personalcard bg-secondary text-white">
            <div class="personalcard-title">Social Connections</div>
            <div class="personalcard-text">
                Warmte en goede relaties zijn belangrijk voor mij. Ik kan goed opschieten met allerlei soorten mensen, wat vooral handig is bij samenwerken. Het zorgt voor een fijne sfeer waarin alles soepeler verloopt.
            </div>
        </div>  
    </div>
</div>
