.back-button {
    @apply bg-black text-white text-4xl w-3/5 p-2 px-3 font-bold;
    background-color: #231F1C;
}

.title-button-content {
    @apply text-4xl w-4/5 p-2 px-3 font-bold;
    background-color: #CCFF00;
}

.project-content {
    @apply w-full p-2 py-3 px-3;
    background-color: #CCFF00;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.section {
    @apply mb-5;
}

.uppercase {
    text-transform: uppercase;
}

.used-list {
    @apply list-disc list-inside;
}

.pictures-content {
    @apply w-full p-2 py-3 px-3 text-white;
    background-color: #3233FF;
    border-top: 2px solid white;
}

.title-button-pictures {
    @apply text-4xl w-full p-2 px-3 font-bold text-white;
    background-color: #3233FF;
}

.image-container {
    @apply w-full my-5;
}

.img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 1px dashed white;
}