<div class="w-full lg:w-1/2">
  <div class="back-button" [routerLink]="['/home']">BACK</div>
</div>

<div class="lg:flex lg:flex-row container-divving">
  <div class="project-container lg:w-1/2" id="project-container">
    <div class="title-button-content" (click)="toggleOpen()">PROJECT</div>
    <div class="project-content" *ngIf="projectContentOpen && project">
      <div class="section">
        <div class="text-3xl font-semibold uppercase">{{project.title}}</div>
        <div>{{project.description}}</div>
      </div>
  
      <div class="section" *ngIf="project.about">
        <div class="text-2xl font-semibold">ABOUT</div>
        <div>{{project.about}}</div>
      </div>
  
      <div class="section" *ngIf="project.used">
        <div class="text-2xl font-semibold">USED</div>
        <ul class="used-list">
          <li *ngFor="let item of project.used">
            {{ item }}
          </li>
        </ul>
      </div>
  
      <div class="section">
        <div class="text-2xl font-semibold">OTHER</div>
        <div>{{project.other}}</div>
      </div>
  
      <div class="section" *ngIf="project.links">
        <div class="text-2xl font-semibold">LINKS</div>
        <ul class="links-list">
          <li *ngFor="let link of project.links">
            <a class="underline text-secondary" [href]="link.url" target="_blank">{{ link.name }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="pictures-container lg:w-1/2" id="pictures-container">
    <div class="title-button-pictures" (click)="toggleOpen()">PICTURES</div>
    <div class="pictures-content" *ngIf="projectPicturesOpen && project">
      <div *ngFor="let image of project.images" class="image-container">
        <!-- <img class="img" [src]="image.url" [alt]="image.name" /> -->
  
        <img class="img" [defaultImage]="defaultImage" [lazyLoad]="image.url">
  
        <div class="text-3xl font-semibold uppercase">{{image.name}}</div>
        <div *ngIf="image.description">{{image.description}}</div>
      </div>
  
      <div *ngIf="!project.images">No pictures for this project :/</div>
    </div>
  </div>
</div>
