<div class="about-me-small_container">
    <div class="about-me-small_title-container">
        <h1>Ik ben Tobias van de Ven</h1>
    </div>

    <!-- <div class="about-me-small_images-container">
        <div class="about-me-small_image">img</div>
        <div class="about-me-small_image">img</div>
        <div class="about-me-small_image">img</div>
    </div> -->

    <div class="about-me-small_text">
        <p>
            Een software- en webdeveloper met een brede interesse in technologie, design en alles wat nieuwsgierigheid wekt. Ik ben altijd op zoek naar manieren om creatieve ideeën te combineren met praktische oplossingen. <br>

            Of het nu gaat om het ontwikkelen van websites, het maken van 3D-ontwerpen of het oplossen van uitdagingen in het dagelijks leven, ik zet mijn technische kennis en creativiteit graag in om projecten van begin tot eind tot een succes te maken.<br> Ik vind het leuk om nieuwe technieken en tools uit te proberen en blijf graag ontdekken, creëren en leren.
        </p>
    </div>
    
</div>