<!-- socials.component.html -->

<div class="bg-gray-700 text-white p-4 shadow-md">
    <div class="border border-white p-2">
        <p class="text-white">C:\> Socials</p>
        <p class="text-white">─────────────────────</p>
        <a class="text-white" href="https://github.com/Toby142" target="_blank">[1] Github/Toby142</a><br>
        <a class="text-white" href="https://www.linkedin.com/in/tobias-van-de-ven-487998222/" target="_blank">[2] LinkedIn</a><br>
        <a class="text-white" href="mailto:tobiasvandeven142@gmail.com" target="_blank">[3] tobiasvandeven142@gmail.com</a>
        <p class="text-white">─────────────────────</p>
        <p class="text-gray-500">Type "exit" to close this window.</p>
    </div>
</div>