<div>
    <a href="https://www.facebook.com/">
        <img src="assets/images/facebook.png" alt="facebook">
    </a>
    <a href="https://www.instagram.com/">
        <img src="assets/images/instagram.png" alt="instagram">
    </a>
    <a href="https://www.twitter.com/">
        <img src="assets/images/twitter.png" alt="twitter">
    </a>
    <a href="https://www.youtube.com/">
        <img src="assets/images/youtube.png" alt="youtube">
    </a>
</div>

<div class="terminal-connect">
    <div>./Connect with me/</div>
</div>