.image-background {
    margin: 10px 0;
    padding: 20px 70px;
    cursor: pointer;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: -10px 10px red;
}

/* desktop break */
@media (min-width: 1024px) {
    .image-background {
        width: 100%;
        text-align: center;
    }
    img {
        width: 100%;
        height: 250px;
        box-shadow: -20px 20px red;
        transition: all 0.1s ease-in-out;

    }

    .underline-animation {
        display: inline-block;
        position: relative;
        text-decoration: none;
      }

    .underline-animation::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        border-radius: 5px;
        height: 0.1em;
        bottom: 0;
        left: 0;
        background: red;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    .image-background:hover .underline-animation::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }

}