
<!--header-->
<div class="header">
  <div class="h-4/5 header-title">CHECK OUT MY <br> PROJECT PORTFOLIO!</div>
  <a routerLink="/list" class="flex justify-end">
    <div class="border header-button">
      List +
    </div>
  </a>
</div>

<!--filler blocks-->
<div class="flex flex-col">
  <div class="border flex flex-row">
    <div class="box box-aboutme">
      <div class="text-xl">This is me!</div>
      <div class="w-full flex flex-row justify-between">
        <div class="star">✦</div>
        <div class="flex flex-col">
          <div class="img-circle"></div>
          <img src="assets/profilePic.jpg" alt="picture of Toby the developer">
        </div>
        <div class="star">✦</div>
      </div>
      <a class="text-sm underline" href="https://sites.tobiasvandeven.nl/old-portfolio/" target="_blank">More about me!</a>
    </div>
    <div class="box box-featured">
      <div class="text-2xl">Have a look at my developer life.</div>
    </div>
  </div>
</div>


<!--info-->
  <div class="w-3/4 text-xs mx-1 my-3">
    This website is to showcase all my projects this is website is about my work, see it as a blog for projects.
  </div>


<!--list-->
  <div class="w-full mt-5 px-1">
    <div class="w-full flex justify-end my-2 text-3xl font-bold">
      COUNT {{projects.length}}
    </div>

    <app-list [showNav]="false"></app-list>
    <div class="w-full mt-10 text-center text-xs">
      This is the end...
    </div>
  </div>




<!--<div *ngFor="let project of projects" class="flex flex-row">-->
<!--  <a [routerLink]="['/project', project.id]">{{project.title}}</a>-->
<!--</div>-->
