<div class="text-5xl font-bold lg:my-8 lg:text-center">I count {{project.length}} <span class="red-underline" routerLink="/list">projects</span>, you too?</div>
<div class="flex flex-col">
    <app-featured-projects [hideTitle]="true"></app-featured-projects>
</div>

<div class="cards-container my-4">
    <div *ngFor="let p of project" class="card" [routerLink]="['/project/', p.id]">
        <div class="card-title">{{this.p.title}}</div>
        <div class="text-sm text-gray-500">{{ this.p.description }}</div>
    </div>
</div>

<div class="mt-[100px] text-center">
    end of desktop proejct showcase :/
</div>